*{
    box-sizing: border-box;
}

body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: fantasy;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
    background: #ecf0f3;
}
.fm{
    width: 430px;
    height: 500px;
    padding: 60px 35px 35px 35px;
    border-radius: 40px;
    background: #ecf0f3;
    box-shadow: 13px 13px 20px #cbced1,
                -13px -13px 20px #fff;
}
form{
    width: 100%;
    padding: 75px 5px 5px 5px;
}
form input{
    width: 100%;
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    color: #555;
    padding: 20px 10px 20px 5px;
}
.text{
    margin-bottom: 30px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1;
                inset: -8px -8px 8px #fff;
}
.submit{
    outline: none;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 60px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 400;
    font-family: fantasy;
    color: #fff;
    text-align: center;
    background: #f00;
    box-shadow: 3px 3px 8px #b1b1b1,
                -3px -3px 8px #fff;
    transition: 0.5s;
}
.submit:hover{
    background: rgb(88, 1, 1);
}

